* {
  box-sizing: border-box; }

body {
  background-color: whitesmoke;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  margin: 0; }

.content {
  width: 600px;
  margin: 0 auto;
  overflow: hidden; }

.song {
  background-color: white;
  border: 1px solid lightgray;
  margin: 20px 0;
  overflow: hidden; }

.title {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 10px 0 10px; }

.thumb {
  float: left;
  width: 90px;
  height: 90px;
  background-size: 162px;
  background-position: center;
  margin-right: 15px; }

.date {
  background-color: darkgray;
  float: left;
  color: white;
  font-weight: 100;
  font-size: .9rem;
  padding: 3px 6px;
  border-radius: 5px; }
